.containeBodyEmpresa{
    width: 1323px;
    height: 667px;

    background-image: url(../images/Empresas-tabla.avif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.containeTituloEmpresa{
    position: fixed;
    top: 0;
    left: unset;
    right: unset;
    bottom: unset;
}
.containeButtonsEmpresa{
    position: fixed;
    top: 100px;
    left: 20px;
    right: 20px;
}
.containeButtonsEmpresa button{
    width: 15%;

    margin-left: 20px;
}
.containeButtonCargarEmpresa{
    position: fixed;
    top: 150px;
}
.containeTablaEmpresa{
    position: fixed;
    top: 200px;
    left: 150px;
    right: 150px;

    min-width: 320px;
    min-height: 100px;
    
    width: 80%;
    height: 50%;

    margin: 0;
    padding: 0;

    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;

    color: yellow;
}
.containeTablaEmpresa table{
    align-items: center;
    justify-content: center;
    table-layout: fixed;
    
    font-size: 15px;

    border-collapse: collapse;
}
.containeTablaEmpresa th{
    
    margin: 0;
    padding: 20px 15px;

    border: 2px solid black;

    text-transform: uppercase;
}
.containeTablaEmpresa td{


    margin: 0;
    padding: 26.2px;

    border: 2px solid black;
}
nav,
.scroll_containe{
    display: block;
    width: 95%;
    height: 466px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border: 1px solid black;
}
.scroll_page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}