:root{
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.containeBodyEmpresa1{
    width: 100%;
    height: 100%;
    margin-top: 10%;
}
.maincarga{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
form{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.cont1{
    width: 400px;
    height: 60px;
    margin:20px 30px;
}
.cont{
    margin: auto;
    width: 300px;
    height: 40px;
}
.cont12{
    color: white;
}
.mensaje{
    color: white;
}
.containeBodyEmpresa{

    min-width: 50% auto;
    min-height: 50% auto;

    width: 100%;
    height: 100%;

    position: fixed;
    top: 0%;

    background-image: url('../images/777.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.containeTituloEmpresa{
    position: fixed;
    top: 0;
    left: 46%;
    right: unset;
    bottom: unset;
    
    color: white;
    text-decoration: underline;
}
.containeButtonsEmpresa{
    position: fixed;
    top: 10%;
    left: 2%;
    right: 2%;
}
.containeButtonsEmpresa button{
    width: 15%;
    height: 10%;

    border-radius: 20px;

    margin-left: 1%;
}
.containeButtonsEmpresa button:hover{
    background-color: aqua;
    color: blue;
}

.containeButtonCargarEmpresa{
    width: 20%;
    position: fixed;
    top: 23%;
    left: 40%;
    right: 47%;
}
.containeButtonCargarEmpresa button{
    width: 100%;
    border-radius: 20px;
}
.containeButtonCargarEmpresa button:hover{
    background-color: aqua;
    color: blue;
}


.containeTablaEmpresa{
    position: fixed;
    top: 30%;

    min-width: 80%;
    min-height: 100%;

    width: 100%;
    height: 140%;

    margin: 0;
    padding: 0;

    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;

    color: black;
}
.containeTablaEmpresa button:hover{
    background-color: aqua;
    color: blue;
}
.containeTablaEmpresa table{
    width: 100%;
    height: 50%;

    align-items: center;
    justify-content: center;
    table-layout: fixed;
    
    font-size: 100%;

    border-collapse: collapse;

    background-color: whitesmoke;
}
.containeTablaEmpresa th{
    width: 10%;
    height: 10%;

    border: 2px solid black;

    text-align: center;

    text-transform: uppercase;
}
.containeTablaEmpresa td{
    width: auto;
    height: auto;

    text-align: center;
    
    border: 2px solid black;
}

nav,
.scroll_containe{
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border: 1px solid black;
}
.scroll_page{
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 800px;
    height: 500px;
}

