body{
    
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.containeBodyHome{
    
    width: 100%;
    height: 100%;    

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.containeHomeButtons{
    width: 300px;
    height: 450px;

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
    box-shadow: 1px 1px 20px black;
}
.containeHomeButtons h2{
    color: white;
    text-decoration: underline;
    margin-top: 0;
}
.containeHomeButtons button{
    width: 200px;

    margin-bottom: 10px;
}